@import "./navigation.css";
@import "./color.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
a {
  text-decoration: none !important;
}
a:hover {
  color: var(--color-1);
}
.nav__link {
  color: #5e5e5e;
  font-weight: bold;
}
a.hover-main:hover {
  color: var(--color-main);
}
.nav__link:hover {
  color: #ff3916;
}

.icon-lg {
  font-size: 1.5em;
}
.m-form-control {
  flex: 1;
  max-width: 100%;
  padding: 0.5rem 1rem;
}
.m-form-control,
.m-form-control:focus {
  border: none;
  outline: none;
}
.no-shadow,
.no-shadow:focus {
  box-shadow: none !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.input-group-rounded {
  display: inline-flex !important;
  justify-content: center;
  min-width: 250px;
  width: 90%;
  margin: 0 auto;
  border-radius: 1.5em;
}
.input-group-rounded input {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}
.input-group-rounded button {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}
.neumorphism-sm {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.w-90 {
  width: 90%;
}
.text-black {
  color: #222222 !important;
}
.submenu-container .submenu-menu {
  display: none;
  position: absolute;
  width: 90vw;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  z-index: 99;
}
.submenu-container:hover > .submenu-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.submenu-item {
  max-width: 50%;
}
.submenu-item-content {
  min-width: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.navbar-brand,
.side-nav-brand {
  font-family: "Fredoka One", cursive;
}
@media screen and (min-width: 576px) {
  .input-group-rounded {
    max-width: 400px;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
}
@media screen and (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}
@media screen and (max-width: 576px) {
  .box {
    width: 25%;
  }
  .hiden-mobile {
    display: none !important;
  }
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
}
.icon-block {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.card-product {
  width: 250px;
}
.product__config {
  font-size: 0.8rem;
}
.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  padding: 10px;
  border-radius: 50%;
  background: #50505080;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1em;
  font-weight: 900;
}
.product__name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.item-index {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}
.modal-backdrop {
  display: none;
}
.white-space-nowrap {
  white-space: nowrap;
}
