@import "./variables.css";
.bg-main {
  background: var(--color-main);
}
.color-1,
.color-1 a,
.color-1 a:active {
  color: var(--color-1);
}
.color-main,
.color-main a,
.color-main a:active {
  color: var(--color-main);
}
.bg-gradient-1 {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
}
.bg-color-1 {
  background-color: var(--color-1);
}
