<!DOCTYPE html>
<html lang="vi" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-csp.min.css" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link rel="stylesheet" href="/src/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/src/css/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
  <script src="/src/js/angularJS/angular.min.js" defer></script>
  <script src="/src/js/angularJS/angular-route.min.js" defer></script>
  <script src="/src/js/getdata.js"></script>
  <script src="/src/js/app.js" defer></script>
  <script src="/src/js/navigation.js" defer></script>

  <title>Express - AngularJS</title>

</head>

<body>
  <div id="app" ng-app="app-main" ng-controller="appCtrl">
    <!-- mobile navigation -->
    <nav class="nav side-nav bg-white" id="side-nav">
      <a class="side-nav-brand p-2 rounded-pill bg-main color-1" href="#">{{appName}}</a>
      <!--close button-->
      <div class="nav__close"></div>
      <!--navigation list-->
      <ul class="nav__list w-100">
        <!--navigation item-->
        <li class="nav__item" id="collapseMenu">
          <a class="nav__link w-90" href="#">
            Danh Mục Sản Phẩm
          </a>
          <i class="nav__toggler fas fa-caret-up ml-auto" data-toggle="collapse" data-target="#collapseOne"></i>
          <div id="collapseOne" class="collapse show" data-parent="#collapseMenu">
            <div ng-repeat="item in menu track by $index" id="collapseSub{{$index}}">
              <div class="px-2 mb-1 d-flex justify-content-between align-items-center">
                <a class="nav-link nav__link font-weight-bold" ng-href="{{item.path}}">
                  <i class="nav__icon text-center fas {{item.icon}} mr-1"></i>
                  {{item.title | uppercase}}
                </a>
                <i class="nav__toggler sub-nav__toggler fas fa-caret-down color-main" data-toggle="collapse"
                  data-target="#collapseSubMenu{{$index}}"></i>
              </div>
              <div id="collapseSubMenu{{$index}}" class="collapse" ng-show="item.subMenu"
                data-parent="#collapseSub{{$index}}">
                <div class=" p-2" ng-repeat="subItem in item.subMenu">
                  <p class="text-center color-main">
                    {{subItem.filterName}}
                  </p>
                  <div class="">
                    <a class="nav-link text-black d-inline-block m-2 card" ng-repeat="childItem in subItem.items"
                      ng-href="{{childItem.path}}">
                      {{childItem.title}}
                    </a>
                  </div>
                </div>
                <!-- <a class="nav-link text-black d-inline-block m-2 card" ng-repeat="childItem in item.subMenu[0].items"
                  ng-href="{{childItem.path}}">
                  {{childItem.title}}
                </a>
                <div class="submenu-menu bg-white card" ng-show="item.subMenu">
                  <div class="submenu-item p-2" ng-repeat="subItem in item.subMenu">
                    <p class="submenu-item-name font-weight-bold px-2">
                      {{subItem.filterName}}
                    </p>
                    <div class="submenu-item-content">
                      <a class="nav-link text-black m-2 card" ng-repeat="childItem in subItem.items"
                        ng-href="{{childItem.path}}">
                        {{childItem.title}}
                      </a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

          </div>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#notification">
            <i class="fas fa-bell"></i>
            Khuyến Mãi
          </a>
        </li>
      </ul>
    </nav>
    <!--content part-->
    <main class="page__content">
      <!-- top navbar -->
      <nav class="nav-flex d-flex flex-wrap justify-content-between align-items-center p-1 pt-3 pt-md-1">
        <a class="navbar-brand order-1 px-3 rounded-pill neumorphism-sm bg-main color-1" href="#">{{appName}}</a>
        <form class="input-group input-group-rounded order-sm-2 order-3 my-3 neumorphism-sm">
          <input class="m-form-control bg-color-1 color-main" type="search" placeholder="Tìm sản phẩm"
            aria-label="Search">
          <div class="input-group-append">
            <button class="btn color-main" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
        <div
          class="d-flex justify-content-between align-items-center order-sm-3 order-2 rounded-pill bg-color-1 color-main neumorphism-sm">
          <a class="nav-link mr-2 hover-main" href="#">
            <i class="fas fa-gift icon-lg"></i>
          </a>
          <a class="nav-link hover-main" href="#">
            <i class="fas fa-shopping-bag icon-lg"></i>
          </a>
        </div>
      </nav>
      <!-- second navbar - desktop navigation -->
      <nav class="navbar navbar-expand-md py-0 navbar-dark bg-dark">
        <!--open side navigation button-->
        <div class="d-block d-md-none">
          <div class="nav-open-btn">
            <div class="nav-open-btn__bar"></div>
            <div class="nav-open-btn__bar"></div>
            <div class="nav-open-btn__bar"></div>
          </div>
        </div>
        <!-- menu -->
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav w-90 mx-auto d-flex justify-content-between align-items-center">
            <li class="nav-item py-2 submenu-container" ng-repeat="item in menu track by $index">
              <a class="nav-link color-1 font-weight-bold px-2" ng-href="{{item.path}}">
                <i class="fas {{item.icon}} mr-1"></i>
                {{item.title | uppercase}}
              </a>
              <div class="submenu-menu bg-white card" ng-show="item.subMenu">
                <div class="submenu-item p-2" ng-repeat="subItem in item.subMenu">
                  <p class="submenu-item-name font-weight-bold px-2">
                    {{subItem.filterName}}
                  </p>
                  <div class="submenu-item-content">
                    <a class="nav-link text-black m-2 card" ng-repeat="childItem in subItem.items"
                      ng-href="{{childItem.path}}">
                      {{childItem.title}}
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!--content block-->
      <div class="content">
      </div>
    </main>
  </div>
</body>

</html>